<%- include('header') %>

<form class="anime_form" action="/anime" method="POST">
    <input type="text" id="anime_search" name="search" placeholder="Search anime">
    <button type="submit">Search</button>
</form>

<div class="anime-cards">
    <% if (animeData) { %>
        <% animeData.forEach(anime => { %>
            <div class="card">
                <div class="card-content">
                    <img class="card-image" src="<%= anime.images.jpg.image_url %>" alt="<%= anime.title %>">
                    <h2 class="card-title"><%= anime.title_english ? anime.title_english : 'N/A' %></h2>
                    <p class="card-text">Alternative title: <%= anime.title ? anime.title : 'N/A' %></p>
                    <p class="card-text">Episodes: <%= anime.episodes ? anime.episodes : 'N/A' %></p>
                    <p class="card-text">Duration: <%= anime.duration ? anime.duration : 'N/A' %></p>
                    <p class="card-text">Genres: <%= anime.genres ? anime.genres.map(genre => genre.name).join(', ') : 'N/A' %></p>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>

<%- include('footer') %>
